VITE_SUPABASE_URL=https://piugnfhtkvqezwwcsfqw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpdWduZmh0a3ZxZXp3d2NzZnF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNDY1MDIsImV4cCI6MjA5OTcyMjUwMn0.BzxER7S9K-_xMUtoYidmPP0TarD8tY5Ok6L6C6II1sA
